<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>
    <property name="hibernate.connection.driver_class">oracle.jdbc.OracleDriver</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@iuppiter_cl:1521:tst820</property>
    <property name="hibernate.connection.username">ha82t</property>
    <property name="hibernate.connection.password"></property>
    <property name="hibernate.show_sql">false</property>
    <property name="hibernate.current_session_context_class">thread</property>
    <mapping class="psirights.model.Xawd" />
    <mapping class="psirights.model.Xarz" />
    <mapping class="psirights.model.Xrgz" />
    <mapping class="psirights.model.Xopz" />
    <mapping class="psirights.model.Xrol" />
    <mapping class="psirights.model.Xopg" />
    <mapping class="psirights.model.Xopr" />
  </session-factory>
</hibernate-configuration>
